.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 90%;
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  color: #272727;
  background: #f8f9fa;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 0.2rem;
  padding: 1rem;
  /* box-shadow: 3px 3px 5px rgba(34, 41, 48, 0.3); */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222930;
}
